.background {
  background-color: #c0c5ce;
  height: auto;
}

.profile-card {
  margin: 0 auto;
  top: 10px;
  width: 50%;
  color: #000;
  background-color: #a7adba;
}

h1 {
  position: relative;
  top: 50px;
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.favorites-cards {
  top: 50px;
  width: 300px;
  padding-bottom: 50px;
  margin: 20px;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

img {
  display: block;
  width: 250px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 10px;
}



